.dart_tool/
.idea/
build/

好乱的一组目录，以后再议如何开放
android/
windows/
ios/

暂不做单测
test/

/android/app/debug
/android/app/profile
/android/app/release


暂不传数据
*.txt

*.iml
.metadata
.packages
pubspec.lock
pubspec.yaml
analysis_options.yaml
